*.properties
manifest.mf
build.xml
HumanDataAnalysisProject/*
SMAnalyzer/nbproject/*
SMAnalyzer/build/*
SMAnalyzer/build.xml
SMAnalyzer/manifest.mf
/nbproject/private/
/build/
/dist/
/Find/nbproject/private/
/Find/build/
